.contenedor{
    background-color: grey;
    width: 60%;
    margin: 0 auto; /*eje y, eje x */
    height: 500px; /*para entender el ejemplo*/

}

.verde{
    background-color: rgb(20, 204, 20);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /*eje y, eje x, abajo*/
    position: absolute;
    top:0;
    left:0;

   
}
/*posicionamiento absoluto: se mide con respecto a un elemento que tenga posicionamiento relativo.
por consiguente el elemento con posicionamiento relativo es el <body>
*/
.celeste{
    background-color: rgb(8, 130, 187);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /*eje y, eje x, abajo*/
   
}

.amarillo{
    background-color: rgb(216, 219, 13);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /*eje y, eje x, abajo*/
   
}